<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
            <label>Title</label>
            <input type="text" placeholder="e.g.Batman" name= "title">
            <label>Image</label>
            <input type="text" placeholer="Image URL" name= "image">
            <label>Year</label>
            <input type="text" placeholder="2018" name= "year">
            <button>Submit</button>
    </form>
    
</body>
</html>