<!DOCTYPE html>
<html lang="en">
<style>
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Rental Service</title>
</head>
<body>
    <label class = "thanghang" for="">Model</label>
    <input type="text" placeholder="e.g. Honda" name="model"><br>
    <label for="">Daily Fee (VND)</label>
    <input type="text" placeholder="100000" name="fee"><br>
    <label for="">Image</label>
    <input type="text" placeholder="e.g. https://hondaxemay" name="image"><br>
    <label for="">Year</label>
    <input type="text" placeholder="e.g. 2013" name="year"><br>
    <button>Submit</button>

</body>
</html>

